* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ballot-box {
  background-color: #dbd5c9;
  padding: 30px;
  display: flex;
}

.screen {
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
  margin-right: 30px;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
}

.keyboard {
  background-color: #403a3a;
}

.line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button {
  width: 70px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #555;
}

.white {
  background-color: #fff;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.mend {
  background-color: #f09046;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  width: 80px;
}

.confirm {
  background-color: #48c079;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  width: 90px;
  height: 50px;
}

.division-1 {
  display: flex;
  flex: 1;
}

.division-1-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 20px;
}

.division-1-1 {
  height: 50px;
  display: flex;
  align-items: center;
}

.division-1-2 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.division-1-3 {
  height: 50px;
}

.number {
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1.5px solid #000;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  margin-right: 3px;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.division-1-4 {
  flex: 1;
  line-height: 30px;
}

.division-1-right {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.division-1-image {
  font-size: 14px;
  text-align: center;
}

.division-1-image img {
  border: 1.5px solid #000;
  width: 100%;
  height: 100px;
}
.division-1-image.small img {
  width: 80%;
  font-size: 12px;
}

.division-2 {
  height: 50px;
  font-size: 14px;
  border-top: 2px solid #000;
  padding-left: 10px;
  line-height: 17px;
}

.big-notice {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.gig-notice {
  font-size: 70px;
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
