* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ballot-box {
  background-color: #dbd5c9;
  padding: 30px;
  display: flex;
}

.screen {
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
  margin-right: 30px;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
}

.keyboard {
  background-color: #403a3a;
}

.line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button {
  width: 70px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #555;
}

.white {
  background-color: #fff;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.mend {
  background-color: #f09046;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.confirm {
  background-color: #48c079;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  width: 90px;
  height: 50px;
}

.division-1 {
  display: flex;
  flex: 1;
}

.division-1-left {
  flex: 1;
}

.division-1-right {
  width: 90px;
}

.division-2 {
  height: 50px;
  font-size: 14px;
  border-top: 2px solid #000;
  padding-left: 10px;
}